<div class="{{class}}">
	<ul>
		{{#items}}
		<li class="{{class}}{{#active}} active{{/active}}">
			<a href="{{href}}" {{#id}}id="{{id}}"{{/id}} {{#title}}title="{{title}}"{{/title}}>{{text}}</a>
		</li>
		{{/items}}
	</ul>
</div>
